<h1>Boigaz</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4" id="not-eaten"> 
                <h2>Yer to be devoured</h2>
                {{#each burgers}}
                {{#unless devoured }}
                <h3 id="{{id}}">{{burger_name}}</h3>
                {{/unless}}
                {{/each}}
        </div><!--End of col-md -4-->

        <div class="col-md-4" >
            <h4 id="prompt">Enter the name of your boiga:</h4>
            <input type="text" id="input" class="form-control" required>
            
            <button type="submit" class="btn btn-danger btn-lg btn-block" id="submit">Submit</button>
            <br>
            <h4>Click on a boiga that is yet to be devoured to <strong>DEVOUR</strong> it. </h4>
      
        </div><!--End of col-md-4-->

        <div class="col-md-4" id="devoured">
                 <h2><strong>DEVOURED</strong></h2>
                {{#each burgers}}
                {{#if devoured }}
                <h3>{{burger_name}}</h3>
                {{/if}}
                {{/each}}
        </div><!--End of col-md-4-->
    </div><!--End of row -->
</div>


